body{
    background-color:rgb(130, 158, 9) ;
    }
    .header{
    text-align: center;
    }
    .header ul li{
    display: inline-block;
    margin-right: 10px;
    }
    img{
    width: 350px;
    }
    
    